.success-message,
.error-message {
    background: rgb(143, 142, 142);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success-message{
    color: rgb(81, 255, 0);
}

.error-message{
    color: rgb(212, 36, 5);
}
