.success-message,
.error-message {
    background: rgb(80, 79, 79);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success-message{
    color: rgb(81, 255, 0);
}

.error-message{
    color: rgb(212, 36, 5);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .button:hover {
    background-color: darkblue;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }
  
  .button:active {
    transform: translateY(2px);
  }

  .blog-style {
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 5px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  