.success-message,
.error-message {
    background: rgb(80, 79, 79);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success-message{
    color: rgb(81, 255, 0);
}

.error-message{
    color: rgb(212, 36, 5);
}

  .button-remove:hover {
    background-color: rgb(180, 1, 1);
    cursor: pointer;
    color: white;
  }
  
  .button:active {
    transform: translateY(2px);
  }

  .blog-style {
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 5px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

    

  
  
  